<div class="content">

    <header class="secondHeader">

        <img src="../assets/img/cabezote-csi.jpg" id="logo" alt="">

        <!-- CUENTA -->
        <div class="btn-group" id="btnUser">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Mi Cuenta</button>
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Cambiar Contrase&#241;a</a></li>
                <li class="divider"></li>
                <li><a href="#">Cerrar Sesi&oacute;n</a></li>
            </ul>
        </div>

        <!-- LOGOS -->
        <!---<img src="app/images/Conocimiento-Logo.png" id="logoConocimieno">-->
        
    </header>

    <header class="firstHeader"></header>


<div class="col-md-2" id="content-menu">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-floppy-open">
                    </span>Maestras</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-home"></span><a href="/empresa">Empresas</a>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <span class="glyphicon glyphicon-user"></span><a href="/empleado">Empleados</a>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <span class="glyphicon glyphicon-home"></span><a href="/sucursal">Sucursales</a>
                            </td>
                        </tr>

                         <tr>
                            <td>
                                <span class="glyphicon glyphicon-list-alt"></span><a href="/tiponovedad">Tipo Novedad</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-briefcase"></span><a href="/subcliente">Subcliente</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-bookmark"></span><a href="/causantenovedad">Causante Novedad</a>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-list-alt"></span><a href="/tipoServicio">Tipo de servicio</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-duplicate"></span><a href="/formato">Formato</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-user"></span><a href="/persona">Persona</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-map-marker"></span><a href="/municipio">Municipio</a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-cog">
                    </span>Operaciones</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-info-sign">
                    </span>Consultas</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-10" id="content-body">
    <div class="well">
        <router-outlet></router-outlet>
        <!--<http-test></http-test>-->
    </div>
</div>

<!--
<footer>
    <img src="app/images/CCO.png" id="logoFooter"/>
    
    
        <p id="copyRight">Desarrollado por Conocimiento Corporativo. Todos los derechos reservados ©</p>
    

</footer>

-->


</div>








