<h4 class="Titulo">Asignaci&oacute;n de solicitudes de servicios</h4>


<div class="container">
    <br>
    <br>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Solicitudes de servicio</h4>
                    </div>
                    <div class="panel-body">
                    </div>
                    <div id="ConedorTablas">
                        <table datatable class="table table-hover" id="FormatoTabla">
                            <thead>
                                <tr>
                                    <th>Sucursal</th>
                                    <th>Candidato</th>
                                    <th>Fecha solicitud</th>
                                    <th>Estado</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="DatosSolicitudesServicio.Data?.length == 0">
                                    <td colspan="5">No se encontraron registros</td>
                                </tr>
                                <tr *ngFor="let item of DatosSolicitudesServicio.Data">
                                    <td>{{item.NombreSucursal}}</td>
                                    <td>{{item.Nombre}}</td>
                                    <td>{{CambiarFormatoFecha(item.FechaSolicitud)}}</td>
                                    <td>{{item.EstadoServicio}}</td>
                                    <td>
                                        <button *ngIf="item.EstadoServicio != 'Abierto'" class="btn btn-default" disabled>Detalle</button>
                                        <button *ngIf="item.EstadoServicio == 'Abierto'" class="btn btn-default" (click)="CargarCombosServicios(item.lstComboServicio);CombosModal.show()">Detalle</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-primary BtnCrear" data-toggle="modal" data-target="#FormatoModal">Guardar Asignaci&oacute;n</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #CombosModal="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="CombosModal.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Combos de solicitud</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Descripci&oacute;n</th>
                            <th>Costo</th>
                            <th>Subservicios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DatosComboServicios">
                            <td>{{item.Nombre}}</td>
                            <td>{{item.Costo}}</td>
                            <td>
                                <button class="btn btn-default" (click)="CargarDetalleCombo(item.lstSolicitudDetalle);CombosModal.hide();SubServiciosModal.show()">Ver</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="CombosModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Sub servicios -->
<div class="modal fade" bsModal #SubServiciosModal="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="SubServiciosModal.hide();CombosModal.show()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Subservicios</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Descripci&oacute;n</th>
                            <th>Costo</th>
                            <th>Estado</th>
                            <th>Asignar</th>
                            <th>Novedad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DatosDetalleCombos">
                            <td>{{item.Nombre}}</td>
                            <td>{{item.Costo}}</td>

                            <td>
                                <span *ngIf="item.CodigoEstadoUnico == 1">Abierto</span>
                                <span *ngIf="item.CodigoEstadoUnico == 2">Asignado</span>
                                <span *ngIf="item.CodigoEstadoUnico == 3">Cancelado</span>
                                <span *ngIf="item.CodigoEstadoUnico == 4">En Analista</span>
                            </td>
                            
                            

                            <td>
                                <button class="btn btn-default" *ngIf="item.CodigoEstadoUnico != 1" disabled>Asignar</button>
                                <button class="btn btn-default" *ngIf="item.CodigoEstadoUnico == 1" (click)="SubServiciosModal.hide();AnalistasModal.show()">Asignar</button>
                            </td>
                            <td>
                                <button class="btn btn-default" (click)="SubServiciosModal.hide();NovedadModal.show()">Novedades</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="SubServiciosModal.hide();CombosModal.show()">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Analistas -->
<div class="modal fade" bsModal #AnalistasModal="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" (onHide)="SubServiciosModal.show()"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="AnalistasModal.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ocupaci&oacute;n Analistas</h4>
            </div>
            <div class="modal-body">

                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Formato</label>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Asignaciones</th>
                            <th>Acci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>as</td>
                            <td>as</td>
                            <td>
                                <button class="btn btn-default">Asignar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="AnalistasModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<!-- Novedades -->
<div class="modal fade" bsModal #NovedadModal="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" (onHide)="SubServiciosModal.show()"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="NovedadModal.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Novedades </h4>
            </div>
            <div class="modal-body">

                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Causante novedad</label>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="">Tiempo perdido</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label for="">Observaci&oacute;n</label>
                            <textarea class="textarea form-control"></textarea>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Causante novedad</th>
                            <th>Tiempo perdido</th>
                            <th>Observaci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>as</td>
                            <td>as</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="NovedadModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div id="ContentPreloader" *ngIf="Cargando">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <h5 class="loadingText">Cargando...</h5>
    </div>
</div>