<h4 class="Titulo">Administraci&oacute;n de Causante Novedad</h4>

<div class="container">
    
    <div class="col-md-11">
    <button class="btn btn-primary BtnCrear"  (click)="LimpiarDatos()" data-toggle="modal" data-target="#myModal">Crear Causante Novedad</button>
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Registros</h4>
                        </div>
                        <div class="panel-body">
                        </div>
                        
                        <table class="table table-hover" id="CausanteNovedadTabla">
                            <thead>
                                
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo de Novedad</th>
                                    <th>Estado</th>
                                    <th>Editar</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="DatosCausanteNovedad.Data?.length == 0">
                                    <td colspan="4">No se encontraron registros</td>
                                </tr>
                                <tr *ngFor="let item of DatosCausanteNovedad.Data; let last = last;">
                                    <td>{{item.Nombre}}</td>
                                    <td>{{item.NombreTipoNovedad}}</td>
                                    <td *ngIf="item.Estado">Activo</td>
                                    <td *ngIf="!item.Estado">Inactivo</td>
                                    <td>
                                        <button class="btn btn-default" (click)="CargarDatosForm(item.Nombre, item.CodigoTipoNovedad, item.Codigo, item.Estado)" data-toggle="modal" data-target="#ModalActualizar">Editar</button>
                                    </td>
                                    <span *ngIf="last == true">{{AplicarDataTable()}}</span>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
        </div>
    </div>        
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Causante Novedad</h4>
      </div>
      <div class="modal-body">
        <form #CausanteNovedad="ngForm">


            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" id="Nombre" required [(ngModel)]="model.Nombre" name="Nombre"  placeholder="Nombre">
            </div>

            <div class="form-group">
                <label for="CodigoTipoNovedad">C&oacute;digo Tipo Novedad</label>
                <select class="form-control" required [(ngModel)]="model.CodigoTipoNovedad" name="CodigoTipoNovedad"> 
                    <option *ngFor="let item of DatosTipoNovedad.Data" [value]="item.Codigo">{{item.Nombre}}</option>
                </select>
            </div>
            

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="!CausanteNovedad.form.valid" (click)="GuardarCausanteNovedad()">Guardar</button>
      </div>
    </div>
  </div>
</div>  


<!--Model Actualizar-->

<div class="modal fade SubclienteModal" id="ModalActualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Causante Novedad</h4>
      </div>
      <div class="modal-body">
        <form #CausanteNovedad="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

            <div class="form-group">
                <label for="CodigoTipoNovedad">C&oacute;digo Tipo Novedad</label>
                <select class="form-control" required [(ngModel)]="model.CodigoTipoNovedad" name="CodigoTipoNovedad">
                    <option *ngFor="let item of DatosTipoNovedad.Data"  [value]="item.Codigo">{{item.Nombre}}</option>
                </select>
            </div>

             <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="true">
                    Activo
                </label>
            </div>

             <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="false">
                    Inactivo
                </label>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ActualizarCausanteNovedad()" [disabled]="!CausanteNovedad.form.valid">Guardar</button>
      </div>
    </div>
  </div>
</div>

