<h4 class="Titulo">Administraci&oacute;n de combo de servicios</h4>

<div class="container">
    
    <div class="col-md-11">
    <button class="btn btn-primary BtnCrear" data-toggle="modal" data-target="#ComboServicioModal">Crear combo de servicio</button>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Registros</h4>
                    </div>
                    <div class="panel-body">
                    </div>
                    <table class="table table-hover" id="ComboServicioTabla" >
                        <thead>
                            <tr>
                                <th>Descrpci&oacute;n de combo servicio</th>
                                <th>Sucursal</th>
                                <th>Sucliente</th>
                                <th>Estado</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="DatosComboServicio.Data?.length ==0">
                                <td colspan="4">No se encontraron registros</td>
                            </tr>
      <!--Cual Variable?--> <tr *ngFor="let item of DatosComboServicio.Data; let last = last;" >
                                <td>{{item.Nombre}}</td>
                                <td>{{item.CodigoSucursal}}</td>
                                <td><button class="btn btn-default" (click)="CargarTipoServicio(item.lstDetalleServicio)" data-toggle="modal" data-target="#ModalVerServicio">Ver</button></td>
                                <td *ngIf="item.Estado">Activado</td>
                                <td *ngIf="!item.Estado">Inactivo</td>
                                <td><button class="btn btn-default">Editar</button></td>
                                <span *ngIf="last == true">{{AplicarDataTable()}}</span>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>        
</div>


<div class="modal fade ComboServicioModal" id="ComboServicioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Combos de servicios</h4>
      </div>
      <div class="modal-body">
        <form #ComboServicioForm="ngForm">

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CodigoSucursal">Sucursal</label>
                        <select class="form-control" required [(ngModel)]="model.CodigoSucursal" name="CodigoSucursal" id="CodigoSucursal">
                            <option value="" selected>Seleccionar sucursal...</option>
                            <option *ngFor="let item of DatosSucursal.Data" [value]="item.Codigo">{{item.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Nombre">Descripci&oacute;n</label>
                        <input type="text" name="Nombre" [(ngModel)]="model.Nombre" placeholder="Descripci&oacute;n" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Municipio">Municipios</label>
                        <ss-multiselect-dropdown [options]="OpcionesMunicipio" id="Municipio" [settings]="ConfiguracionSelect" [(ngModel)]="model.Municipio" name="Municipio" required></ss-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CodigoServicio">Servicios</label>
                        <ss-multiselect-dropdown [options]="OpcionesServicios" id="CodigoServicio" [settings]="ConfiguracionSelect" [(ngModel)]="model.CodigoServicio" name="CodigoServicio" required></ss-multiselect-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CodigoSubcliente">Subcliente</label>
                        <select class="form-control" required [(ngModel)]="model.CodigoSubcliente" name="CodigoSubcliente" id="CodigoSubcliente">
                            <option value="" selected disabled>Seleccionar Sub cliente</option>
                            <option *ngFor="let item of DatosSubCliente.Data" [value]="item.Codigo">{{item.RazonSocial}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Costo">Costo</label>
                        <input type="text" name="Costo" [(ngModel)]="model.Costo" placeholder="Costo" id="Costo" class="form-control">
                    </div>
                </div>
            </div>

            

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="GuardarComboServicio();" [disabled]="!ComboServicioForm.form.valid" *ngIf="!loading">Guardar</button>
        <button type="button" class="btn btn-primary" *ngIf="loading" disabled>Guardando...</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Actualizar -->
<!-->
<div class="modal fade TipoServicioModal" id="ModalActualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de servicios</h4>
      </div>
      <div class="modal-body">
        <form #TipoServicioForm="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

            <div class="form-group">
                <label for="notes">Descripci&oacute;n</label>
                <textarea class="form-control textarea" rows="3" placeholder="Descripci&oacute;n" id="notes" [(ngModel)]="model.Descripcion" name="Descripcion" required></textarea>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="true">
                    Activo
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="false">
                    Inactivo
                </label>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ActualizarTipoEmpresa()" [disabled]="!TipoServicioForm.form.valid" *ngIf="!loading">Guardar</button>
        <button type="button" class="btn btn-primary" *ngIf="loading" disabled>Guardando...</button>
      </div>
    </div>
  </div>
</div>  
-->

<!-- Modal Ver Servicios -->

<div class="modal fade ComboServicioModal" id="ModalVerServicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Combo de servicios</h4>
      </div>
      <div class="modal-body">
        <form #VerComboServicio="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <table class="table table-bordered">
                    <tr *ngFor="let item of DatosServicio; let last = last;" >
                        <td>{{item.NombreServivio}}</td>
                    </tr>
                </table>
                <!--<input type="text" class="form-control" required [(ngModel)]="model.lstDetalleServicio" name="Nombre" placeholder="Nombre" id="Nombre">-->
                <!--<option *ngFor="let item of OpcionesServicios.Data" [value]="item.lstDetalleServicio">{{item.lstDetalleServicio}}</option>-->
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>  


<div id="ContentPreloader" *ngIf="Cargando">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <h5 class="loadingText">Cargando...</h5>
    </div> 
</div>
