<h4 class="Titulo">ADMINISTRACI&Oacute;N DE CIUDADES</h4>

<div class="container">
    
    <div class="col-md-11">
    <button class="btn btn-primary BtnCrear" data-toggle="modal" data-target="#MunicipioModal">Crear ciudad</button>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Registros</h4>
                    </div>
                    <div class="panel-body">
                    </div>
                    <table class="table table-hover" id="MunicipioTabla" >
                        <thead>
                            <tr>
                                <th>Ciudad</th>
                                <th>Departamento</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="DatosMunicipio.Data?.length == 0">
                                <td colspan="3">No se encontraron registros.</td>
                            </tr>
                            <tr *ngFor="let item of DatosMunicipio.Data; let last = last;">
                                <td>{{item.Nombre}}</td>
                                <td>{{item.NombreDepartamento}}</td>
                                <td>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#ModalActualizar" (click)="CargarDatos(item.Nombre, item.CodigoDepartamento, item.Codigo)">Editar</button>
                                </td>
                                <span *ngIf="last == true">{{AplicarDataTable()}}</span>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>        
</div>


<div class="modal fade MunicipioModal" id="MunicipioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ciudad</h4>
      </div>
      <div class="modal-body">
        <form #MunicipioForm="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>
            <div class="form-group">
                <label for="CodigoDepartamento">Departamento</label>
                <select id="" [(ngModel)]="model.CodigoDepartamento" name="CodigoDepartamento" class="form-control">
                    <option *ngFor="let item of DatosDepartamento.Data" [value]="item.Codigo">{{item.Nombre}}</option>
                </select>
            </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="GuardarMunicipio();" [disabled]="!MunicipioForm.form.valid" *ngIf="!loading">Guardar</button>
        <button type="button" class="btn btn-primary" *ngIf="loading" disabled>Guardando...</button>
      </div>
    </div>
  </div>
</div>  

<!-- Modal Actualizar -->

<div class="modal fade TipoServicioModal" id="ModalActualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ciudad</h4>
      </div>
      <div class="modal-body">
        <form #MunicipioActulizarForm="ngForm">

             <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>
            <div class="form-group">
                <label for="CodigoDepartamento">Departamento</label>
                <select id="" [(ngModel)]="model.CodigoDepartamento" name="CodigoDepartamento" class="form-control">
                    <option *ngFor="let item of DatosDepartamento.Data" [value]="item.Codigo">{{item.Nombre}}</option>
                </select>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ActualizarMunicipio()" [disabled]="!MunicipioActulizarForm.form.valid" *ngIf="!loading">Guardar</button>
        <button type="button" class="btn btn-primary" *ngIf="loading" disabled>Guardando...</button>
      </div>
    </div>
  </div>
</div>  


<div id="ContentPreloader" *ngIf="Cargando">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <h5 class="loadingText">Cargando...</h5>
    </div> 
</div>
