<h4 class="Titulo">Solicitudes Asignadas</h4>

<div class="container">

    <div class="col-md-11">
        <div class="row">
            <div class="col-md-12">

                <form #FormBusqueda="ngForm">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Estado de la solicitud</label>
                            <select [(ngModel)]="ObjetoSolicitudesAsignadas.EstadoServicio" name="EstadoServicio" class="form-control">
                                <option value="1">Abierto</option>
                                <option value="2">Asignado</option>
                                <option value="3">Cancelado</option>
                                <option value="4">En Analista</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Fecha Inicial</label>
                            <input type="date" name="FechaInicial" [(ngModel)]="ObjetoSolicitudesAsignadas.FechaInicial" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Fecha Final</label>
                            <input type="date" [(ngModel)]="ObjetoSolicitudesAsignadas.FechaFinal" name="FechaFinal" class="form-control">
                        </div>
                    </div>
                </form>

                <button class="btn btn-primary BtnCrear" [disabled]="!FormBusqueda.form.valid" (click)="BuscarServicios()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Buscar
                </button>

                <br>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Registros</h4>
                    </div>
                    <div class="panel-body">
                    </div>
                    <table class="table table-hover" id="TipoServicioTabla">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Municipio</th>
                                <th>Tipo servicio</th>
                                <th>Estado</th>
                                <th>Fecha Asignaci&oacute;n</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-default" (click)="NovedadModal.show()">Novedades</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade TipoServicioModal" bsModal #TipoServicioModal="bs-modal" id="TipoServicioModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Servicio</h4>
            </div>
            <div class="modal-body">
                <form #TipoServicioForm="ngForm">
                    <!--
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

            <div class="form-group">
                <label for="notes">Descripci&oacute;n</label>
                <textarea class="form-control textarea" rows="3" placeholder="Descripci&oacute;n" id="notes" [(ngModel)]="model.Descripcion" name="Descripcion" required></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-default" (click)="TipoServicioModal.hide();CostosModal.show()" type="button">Administrar costos</button>
            </div>
-->
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="lgModal.hide()">Cerrar</button>-->
                <button type="button" class="btn btn-default" (click)="TipoServicioModal.hide()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="GuardarTipoServicio();" [disabled]="!TipoServicioForm.form.valid"
                    *ngIf="!loading">Guardar</button>
            </div>
        </div>
    </div>
</div>





<!-- Novedades -->
<div class="modal fade" bsModal #NovedadModal="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="NovedadModal.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Novedades </h4>
            </div>
            <div class="modal-body">

                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Causante novedad</label>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="">Tiempo perdido</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label for="">Observaci&oacute;n</label>
                            <textarea class="textarea form-control"></textarea>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Causante novedad</th>
                            <th>Tiempo perdido</th>
                            <th>Observaci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>as</td>
                            <td>as</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="NovedadModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div id="ContentPreloader" *ngIf="Cargando">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <h5 class="loadingText">Cargando...</h5>
    </div>
</div>