<h4 class="Titulo">Administraci&oacute;n de Sucursales</h4>

<div class="container">
    
    <div class="col-md-11">
    <button class="btn btn-primary BtnCrear" (click)="LimpiarDatos()" data-toggle="modal" data-target="#myModal">Crear Sucursal</button>
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Registros</h4>
                        </div>
                        <div class="panel-body">
                        </div>
                        <table class="table table-hover" id="SucursalTabla" >
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th>Email</th>
                                    <th>Representantes</th>
                                     <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="DatosSucursal.Data?.length == 0">
                                    <td colspan="6">No se encontraron registros</td>
                                </tr>
                                <tr *ngFor="let item of DatosSucursal.Data; let last = last;">
                                    <td>{{item.Nombre}}</td>
                                    <td>{{item.Telefono}}</td>
                                    <td>{{item.Direccion}}</td>
                                    <td>{{item.Email}}</td>
                                    <td>{{item.Representante}}</td>
                                    
                                    <td>
                                        <button class="btn btn-default" (click)="CargarDatosForm(item.Nombre, item.Telefono, item.Direccion, item.Email, item.Representante, item.Codigo, item.Estado)" data-toggle="modal" data-target="#ModalActualizar">Editar</button>
                                    </td>
                                    <span *ngIf="last == true">{{AplicarDataTable()}}</span>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>        
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sucursal</h4>
      </div>
      <div class="modal-body">
        <form #SucursalForm="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

            <div class="form-group">
                <label for="Telefono">Tel&eacute;fono</label>
                <input type="number" class="form-control" id="Telefono" required [(ngModel)]="model.Telefono" name="Telefono"  placeholder="Tel&eacute;fono">
            </div>

            <div class="form-group">
                <label for="Direccion">Direcci&oacute;n</label>
                <input type="text" class="form-control" id="Direccion" required [(ngModel)]="model.Direccion" name="Direccion" placeholder="Direcci&oacute;n" />
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" placeholder="Email" required [(ngModel)]="model.Email" name="Email">
            </div>

           <div class="form-group">
               <label for="Representantes">Representantes</label>
               <input type="text" class="form-control" id="Representantes" required [(ngModel)]="model.Representante" name="Representante" placeholder="Representantes">
           </div>
            

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="!SucursalForm.form.valid" (click)="GuardarSucursal()">Guardar</button>
      </div>
    </div>
  </div>
</div>  

<!--Model Actualizar-->

<div class="modal fade SubclienteModal" id="ModalActualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sucursal</h4>
      </div>
      <div class="modal-body">
        <form #Sucursal="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

            <div class="form-group">
                <label for="Telefono">Tel&eacute;fono</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Telefono" name="Telefono" placeholder="Tel&eacute;fono" id="Telefono">
            </div>

            <div class="form-group">
                <label for="Direccion">Direcci&oacute;n</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Direccion" name="Direccion" placeholder="Direcci&oacute;n" id="Direccion">
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Email" name="Email" placeholder="Email" id="Email">
            </div>

             <div class="form-group">
                <label for="Representantes">Representantes</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Representante" name="Representante" placeholder="Representantes" id="Representante">
            </div>


             <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="true">
                    Activo
                </label>
            </div>

             <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="false">
                    Inactivo
                </label>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ActualizarSucursal()" [disabled]="!Sucursal.form.valid">Guardar</button>
        
      </div>
    </div>
  </div>
</div>

<div id="ContentPreloader" *ngIf="Cargando">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <h5 class="loadingText">Cargando...</h5>
    </div> 
</div>




