<h4 class="Titulo">Administraci&oacute;n de Empresas</h4>

<div class="container">
    
    <div class="col-md-11">
    <button class="btn btn-primary BtnCrear" data-toggle="modal" data-target="#myModal">Crear Sucursal</button>
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Registros</h4>
                        </div>
                        <div class="panel-body">
                        </div>
                        <table class="table table-hover" id="companyTable" >
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th>Email</th>
                                    <th>Representantes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    <td>
                                    
                                    
                                        <button class="btn btn-default">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>        
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Empresa</h4>
      </div>
      <div class="modal-body">
        <form #SucursalForm="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

            <div class="form-group">
                <label for="Telefono">Tel&eacute;fono</label>
                <input type="number" class="form-control" id="Telefono" required [(ngModel)]="model.Telefono" name="Telefono"  placeholder="Tel&eacute;fono">
            </div>

            <div class="form-group">
                <label for="Direccion">Direcci&oacute;n</label>
                <input type="text" class="form-control" id="Direccion" required [(ngModel)]="model.Direccion" name="Direccion" placeholder="Direcci&oacute;n" />
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" placeholder="Email" required [(ngModel)]="model.Email" name="Email">
            </div>

           <div class="form-group">
               <label for="Representantes">Representantes</label>
               <input type="text" class="form-control" id="Representantes" required [(ngModel)]="model.Representantes" name="Representantes" placeholder="Representantes">
           </div>
            

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="!SucursalForm.form.valid" (click)="GuardarSucursal()">Guardar</button>
      </div>
    </div>
  </div>
</div>  

