<h4 class="Titulo">Administraci&oacute;n de Empresas</h4>

<div class="container">
    
    <div class="col-md-11">
    <button class="btn btn-primary BtnCrear" data-toggle="modal" data-target="#myModal">Crear Tipo Novedad</button>
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Registros</h4>
                        </div>
                        <div class="panel-body">
                        </div>
                        <table class="table table-hover" id="companyTable" >
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Editar</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of DatosTipoNovedad.Data">
                                    <td>{{item.Nombre}}</td>

                                      <td *ngIf="item.estado">Activo</td>
                                      <td *ngIf="!item.estado">Inactivo</td>
                                    
                                    <td>
                                    
                                    
                                        <button class="btn btn-default" (click)="CargarDatosForm(item.Codigo, item.Nombre, item.Estado)" data-toggle="modal" data-target="#ModalActualizar">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>        
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Empresa</h4>
      </div>
      <div class="modal-body">
        <form #TipoNovedadForm="ngForm">


            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>
            

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="!TipoNovedadForm.form.valid" (click)="GuardarTipoNovedad()">Guardar</button>
      </div>
    </div>
  </div>
</div>  

<!--Model Actualizar-->

<div class="modal fade SubclienteModal" id="ModalActualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipo Novedad</h4>
      </div>
      <div class="modal-body">
        <form #TipoNovedadForm="ngForm">

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

             <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="true">
                    Activo
                </label>
            </div>

             <div class="radio">
                <label>
                    <input type="radio" name="Estado" [(ngModel)]="model.Estado" [value]="false">
                    Inactivo
                </label>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ActualizarTipoNovedad()" [disabled]="!TipoNovedadForm.form.valid">Guardar</button>
        
      </div>
    </div>
  </div>
</div>

