<h4 class="Titulo">Administraci&oacute;n de Empresas</h4>

<div class="container">
    
    <div class="col-md-11">
    <button class="btn btn-primary BtnCrear" data-toggle="modal" data-target="#myModal">Crear Tipo Novedad</button>
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Registros</h4>
                        </div>
                        <div class="panel-body">
                        </div>
                        <table class="table table-hover" id="companyTable" >
                            <thead>
                                <tr>
                                    <th>C&oacute;digo</th>
                                    <th>Nombre</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    
                                    
                                    <td>
                                    
                                    
                                        <button class="btn btn-default">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>        
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Empresa</h4>
      </div>
      <div class="modal-body">
        <form #TipoNovedadForm="ngForm">

            <div class="form-group">
                <label for="Nombre">C&oacute;digo</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Codigo" name="Codigo" placeholder="C&oacute;digo" id="Codigo">
            </div>


            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Nombre" name="Nombre" placeholder="Nombre" id="Nombre">
            </div>

            <div class="form-group">
                <label for="Estado">Estado</label>
                <input type="text" class="form-control" required [(ngModel)]="model.Estado" name="Estado" placeholder="Estado" id="Estado">
            </div>
            

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="!TipoNovedadForm.form.valid" (click)="GuardarTipoNovedad()">Guardar</button>
      </div>
    </div>
  </div>
</div>  

